{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "home" %}

{% block content %}
<!-- container for tablular structure: 1 row & 1 column -->
<div class="container">
    <div class="row">
        <div class="col-sm">

            <!-- contact details -->

            <h3>Directory</h3>
            <div class="container-fluid bg-grey">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Job Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>markotto@swift.co</td>
                            <td>(123) 503-1234</td>
                            <td>Co Founder</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>jacobthornton@swift.co</td>
                            <td>(910) 432-7362</td>
                            <td>CFO</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>Bird</td>
                            <td>larrybird@swift.co</td>
                            <td>(123) 598-7623</td>
                            <td>Marketing Director</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Nick</td>
                            <td>Ewert</td>
                            <td>nickewert@swift.co</td>
                            <td>(564) 457-9730</td>
                            <td>Technology Apprentice</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

