{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

        <!-- column 1 -->
        <div class="col-sm-6">
            <h3>Documents</h3>
            <a href="https://www.w3schools.com/">Q1 Financial Performance overview</a>
            <p> </p>
            <a href="https://www.w3schools.com/">Company Bylaws!</a>
            <p> </p>
            <a href="https://www.w3schools.com/">Payroll for staff</a>
            <p> </p>
            <a href="https://www.w3schools.com/">Meeting minutes</a>
            <p></p>
        </div>

    </div>
</div>

{% endblock %}