{% extends "base.html" %}
{% block title %}<title>Register</title>{% endblock %}
{% set active_page = "admin" %}

{% block content %}

<div  class="form-group">
<h1>Register</h1>
<form name="registration" action="registrationcheck.php" method="post">
<input class="form-control" type="text" name="username" placeholder="Username" required /> <br />
<input class="form-control" type="password" name="password" placeholder="Password" required /> <br />
<input class="btn btn-primary btn-lg" type="submit" name="submit" value="Register" />
</form>
<br /><br />
{% if error %}
<h3 style = "color: red;"> {{error}} </h3>
{%endif%}

</div>

{% endblock %}